{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #265EE8;
    justify-content: space-between;

  }

  .col-20 {
    margin: 0 auto;
    width: 20%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: white;
  }

  .col-60 {
    margin: 0 auto;
    width: 60%;
    height: 80px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
  }
  .cerchio{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 1rem;
  }

  img { 
    width: 100%;
  }

  .livelli {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;