*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .barra {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #265EE8;
    justify-content: space-between;

  }

  .col-20 {
    margin: 0 auto;
    width: 20%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: white;
  }

  .col-60 {
    margin: 0 auto;
    width: 60%;
    height: 80px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
  }

  .cerchio {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 1rem;
  }

  img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* .jumbo {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; */

  .container-due{
    display: flex;
    justify-content:center ;
    align-items: center;
  }

  .my-40{
    width: 40%;

  }
    
  .my-60{
    width: 60%;
  }

.container-tre{
  background-color: #F6F6F6 ;
}

  .my-60terzo{
    width: 60%;
    justify-content: flex-end;

    

.container-cinque{
  background-color: #F6F6F6 ;
}